.historial-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px; /* Aumentar el ancho máximo */
    text-align: center;
    margin-top: 50px;
  }
  
  .historial-title {
    font-size: 28px;
    font-weight: bold;
    color: #003400;
    margin-bottom: 20px;
  }
  
  .table-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Permitir scroll horizontal */
  }
  
  .table-title {
    font-size: 20px;
    font-weight: bold;
    color: #003400;
    margin-bottom: 10px;
  }
  
  .historial-table {
    width: 100%;
    min-width: 900px; /* Establecer un ancho mínimo */
    border-collapse: collapse;
  }
  
  .historial-table th,
  .historial-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .historial-table th {
    background-color: #003400;
    color: white;
  }
  
  .historial-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .historial-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .no-citas {
    text-align: center;
    font-style: italic;
    color: #777;
  }
  
  @media (max-width: 768px) {
    .historial-title {
      font-size: 24px;
    }
  
    .table-title {
      font-size: 18px;
    }
  
    .historial-table th,
    .historial-table td {
      font-size: 12px;
      padding: 8px;
    }
  
    .table-container {
      overflow-x: auto; /* Habilitar scroll horizontal */
    }
  }
  