.table-container-info {
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 5%;
    border: black solid 2px;
  }
  
  .table-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #003400;
    margin-bottom: 20px;
    border: black solid 2px;
    height: 40px;
    padding-top: 30px;
  }
  
  .table-responsive {
    overflow-x: auto;
  }
  
  .profesores-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  .profesores-table th,
  .profesores-table td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .profesores-table th {
    background-color: #003400;
    color: white;
    text-align: center;
  }
  
  .profesores-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .profesores-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .details-button {
    background-color: #009929;
    color: white;
    text-transform: none;
    font-size: 14px;
  }
  
  .details-button:hover {
    background-color: #007a1e;
  }
  
  .no-data {
    text-align: center;
    color: #888;
    font-size: 16px;
    padding: 10px;
  }
  
  /* Paginación */
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    background-color: #009929;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .pagination-button.active {
    background-color: #007a1e;
  }
  
  .pagination-button:hover {
    background-color: #007a1e;
  }
  .custom-button {
    background-color: #009929;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .custom-button:hover {
    background-color: #007a1e;
  }
  
  .custom-button:active {
    background-color: #005f14;
  }
  