.container-scrollable {
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 70px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .table-container {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .table-scrollable {
    max-height: 400px; /* Altura máxima para la tabla */
    overflow-x: auto; /* Permite scroll horizontal */
    overflow-y: auto; /* Permite scroll vertical */
  }
  
  .interview-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
  }
  
  .interview-table th,
  .interview-table td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
  }
  
  .interview-table th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .interview-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .interview-table tr:hover {
    background-color: #e9f5e9;
  }
  
  .button-go {
    background-color: #003400;
    color: white;
    text-transform: none;
    font-size: 14px;
    font-weight: bold;
  }
  
  .button-go:hover {
    background-color: #003400;
  }
  