.export-actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .export-actions-container img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
  }
  
  .export-actions-container img:hover {
    transform: scale(1.1);
  }
  