.form-actas-container {
    font-family: Arial, sans-serif;
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    border: black solid 4px;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    border: black solid 2px;
    height: 50px;
    padding-top: 20px;
  }
  
  .form-header {
    margin-bottom: 20px;
    
  }
  
  .student-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    
  }
  
  .student-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e9e9e9;
    border: black solid 3px;
  }
  
  .form-content {
    display: flex;
    gap: 20px;
    border: black solid 4px;
    border-radius: 4px;
  }
  
  .student-info {
    width: 30%;
    text-align: center;
   
    margin: 20px;
    border-radius: 4px;
  }
  .student-photo img {
    width: 250px; /* Ancho fijo para mantener proporciones */
    height: 250px; /* Alto fijo */
    border-radius: 4%; /* Hacer la imagen circular */
    object-fit: cover; /* Ajustar la imagen para que no se deforme */
    opacity: 1; /* Asegurar que la opacidad sea 100% */
    border: 2px solid #ccc; /* Agregar borde para mejor claridad */
    margin-top: 20px;
  }
  
  
  .info-card p {
    margin-bottom: 15px;
  }
  
  .field-group input[readonly] {
    background-color: #f5f5f5;
    cursor: not-allowed;
  }
  
  
  .info-card p {
    margin: 5px 0;
  }
  
  .form-fields {
    width: 70%;
  }
  
  .field-group {
    margin-bottom: 15px;
  }
  
  .field-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .field-group select,
  .field-group input,
  .field-group textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: none;
    height: 100px;
  }
  
  .form-buttons {
    display: flex;
justify-content: end;
gap: 10px;
padding: 10px 20px;
  }
  
  .clear-button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .clear-button:hover {
    background-color: #c9302c;
  }
  
  .create-button {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-button:hover {
    background-color: #4cae4c;
  }
  