.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 70vh;
  background-color: white;
  margin-left: 20px;
}

.image-and-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}

.image-container {
  text-align: center;
}

.director-image {
  width: 300px;
  height: auto;
  border-radius: 25px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.director-info {
  margin-top: 1px;
}

.director-name {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 5px;
}

.director-title {
  font-size: 1.2em;
  color: #666;
}

.description-container {
  width: 60%;
  padding: 20px;
  background-color: rgb(187, 231, 186);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.watermark-logo {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: auto;
  opacity: 0.2;
  z-index: 0;
}

/* Animaciones */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-text {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.animate-text:nth-child(1) {
  animation-delay: 0.5s;
}

.animate-text:nth-child(2) {
  animation-delay: 1s;
}

@media screen and (max-width: 768px) {
  .image-and-text {
    flex-direction: column;
    align-items: center;
  }

  .description-container {
    width: 90%;
  }

  .director-image {
    width: 120px;
  }

  .watermark-logo {
    width: 300px;
  }
}

@media screen and (max-width: 480px) {
  .director-image {
    width: 100px;
  }

  .watermark-logo {
    width: 200px;
  }

  .description-container {
    font-size: 0.9em;
  }
}
