/* Contenedor principal */
.container-UserManagemet-Home {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 20px;
     padding: 20px;
   }
   
   .charts-section {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   .charts-row {
     display: flex;
     justify-content: space-around;
     align-items: flex-start;
     flex-wrap: nowrap;
     gap: 10px;
     width: 100%;
   }
   
   /* Estilo para los gráficos individuales */
   .chart-container {
     flex: 1;
     flex-basis: 30%;
     max-width: 30%;
     min-width: 280px;
     height: 300px; /* Ajuste la altura para que todos sean iguales */
     background-color: #f9f9f9;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     margin: 5px;
     display: flex;
     flex-direction: column;
     justify-content: center;
   }
   
   .chart-container h3 {
     text-align: center;
     margin-bottom: 10px;
   }
   
   canvas {
     width: 100% !important;
     height: auto !important;
   }
   
   /* Responsividad para pantallas medianas */
   @media (max-width: 1024px) {
     .chart-container {
       flex-basis: 45%;
       height: 250px;
     }
   }
   
   /* Responsividad para pantallas pequeñas */
   @media (max-width: 768px) {
     .charts-row {
       flex-wrap: wrap;
     }
     .chart-container {
       flex-basis: 100%;
       height: 250px;
     }
   }
   