.export-actions-container {
    display: flex;
    /* gap: 10px; */
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    margin-right:30px;
    /* width: 17%; */
    height: 10%;
  }
  
  .export-actions-container img {
    width: 50px;
    height: 30px;
    cursor: pointer;
   
    /* border:1px solid green */
  }
  