.export-actions-container {
    display: flex;
    /* gap: 10px; */
    padding: 5px;
    border-radius: 10px;
    
    width: 15%;
    height: 9%;
    padding-top: 10px;
   
    
  }
  
  .export-actions-container img {
    width: 50px;
    height: 30px;
    cursor: pointer;
   
    /* border:1px solid green */
  }
  