.header-container{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 75%;
    margin-left: 23%;
    /* padding-inline-start: 150px; */

    
}
.header-titles{
    /* border:1px solid  green; */
    padding-inline-start: 150px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4F4F4F;
    position: relative;
    left: 5%;
    margin-right: 10%;
}
.header-titles h1{
    font-size: 30px;
    font-weight: 500;
}
.header-titles h2{
    font-size: 22px;
    font-weight: 300;
}

