/* Dropdown debe estar en flujo normal y no en posición absoluta */
.dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-top: 10px;
    transition: height 0.3s ease; /* Animación de transición */
    
}

/* Agregar transición suave */
.btn-icon-container {
    transition: all 0.3s ease;
}

/* Si necesitas que el dropdown se vea algo diferente cuando esté activo */
.dropdown-option {
    background-color: #004d0f;
}

/* Transición para abrir y cerrar el dropdown */
.btn-icon-container.active .dropdown-menu {
    height: auto; /* Ajusta la altura según el contenido */
}


.btn-icon-txt{
    cursor: pointer;
}