/* src/components/Sidebar.css */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #003400; /* Color de fondo oscuro */
    color: white;
    padding: 20px;
    position: fixed; /* Mantiene el panel fijo */
    left: 0;
    top: 0;
    transition: transform 0.3s ease; /* Animación al abrir/cerrar */
}
 
.sidebar.closed {
    transform: translateX(-80%); /* Ocultar sidebar */
}
 
.sidebar-title {
    margin-bottom: 20px;
    font-size: 11PX;
    padding-left: 20%;
}
 
.sidebar-menu {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
}
 
.sidebar-container{
    height: 40px;
    width: 250px;
    background-color: #006414;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    border-radius: 5px;
    transition:background-color 0.5s ;
    margin-bottom:10px;
}
.sidebar-link {

    color: white;
    text-decoration: none; /* Sin subrayado */
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    padding-left: 30px;
 
    
}

 
.sidebar-link:hover {
    background-color: #009929;
    width: 100%; /* Color de fondo al pasar el mouse */
   
}
 
.sidebar-link i {
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

.Img-container {
padding-left: 30%;
  
}
.hr-barra{
  padding-top: 0px;
  padding-bottom: 10%;
  width: 250px;
  justify-content: center;

}
.Icon-container-menu{
height: 20px;
 width: 20px;
 background-repeat: no-repeat;
 display: flex;
 justify-content: space-between;
 gap: 0px;
 
 
}
/* Dropdown menu */
.dropdown {
    list-style: none;
    padding-left: 0px; /* Añadir margen a la izquierda */
  }
  
  .dropdown li {
    padding: 5px 0;
  }
  
  .Icon-container-menu.rotate {
    transform: rotate(180deg); /* Rotar el icono al abrir */
  }
  /* Responsive Sidebar */
@media (max-width: 450px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.closed {
    transform: translateX(-100%);
  }

  .sidebar-toggle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-color: #003400;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
  }

  .sidebar-toggle-icon img {
    width: 20px;
    height: 20px;
  }
}
