/* src/components/Toast.css */

.toast-container {
    position: fixed;
    bottom: 85%;
    right: 20px;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: white;
    z-index: 2000;
    background-color: #333;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInOut 3s ease-in-out forwards;
  }
  
  .toast-container.success {
    background-color: #28a745; /* Green for success */
  }
  
  .toast-container.error {
    background-color: #dc3545; /* Red for error */
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    10% {
      opacity: 1;
      transform: translateY(0);
    }
    90% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }
