/* viewUserEntrevista.css */

.entrevista-container {
  
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 3px solid black;
    height: 400px;
    
    
  }
  
  .entrevista-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .entrevista-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .entrevista-table th, .entrevista-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
  }
  
  .entrevista-table th {
    background-color: #f0f0f0;
    color: #333;
  }
  
  .motivo-section {
    margin-bottom: 20px;
    text-align: center;
    
    
  }
  
  .motivo-section select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 75%;
  }
  
  .cancel-button, .agendar-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 130px;
   
  }
  
  .cancel-button {
    background-color: #992500;
    color: white;
    
  }
  
  .cancel-button:hover {
    background-color: #cc3300;
  }
  
  .agendar-button {
    background-color: #006414;
    color: white;
    
  }
  
  .agendar-button:hover {
    background-color: #009929 ;
  }