.btn-icon-container{
    height: 40px;
    width: 30vh;
    background-color: #006414;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    gap:20px;
    border-radius: 5px;
    transition:background-color 0.5s ;
    margin-bottom:10px;
    
    
    
}
.btn-icon-container.active{
    background-color: #009929;
}
.btn-icon-image{
 height: 20px;
 width: 20px;
 background-repeat: no-repeat;
}
.btn-icon-txt{
    font-family: "Kumbh Sans", sans-serif;
}